*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Gilroy Extrabold';
}

body{
    background-image: url("../image/twenty2x.png");
    background-repeat: repeat;
    background-size: cover;
}

header{
    padding: 54px 0 0 140px;
    display: flex;
}

.header-img{
    margin-right: 244px;
}

/* Style the search field */
form.example input {
    padding: 10px;
    font-size: 17px;
    border: 0;  
    float: left;
    width: 546px;
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  